<%= simple_form_for [@product, @renting_request],
    html: { data: {
      insert_in_list_target: "form",
      action: "submit->insert-in-list#send"
    } } do |f| %>
  <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <div class="text-end"> <!-- Aligns content to the right -->
    <%= f.submit 'Submit', class: "btn btn-outline-warning my-4 " %>
  </div>
<% end %>
<%# <%= simple_form_for [@product, @renting_request],
    html: { data: {
      insert_in_list_target: "form",
      action: "submit->insert-in-list#send",
      controller: "datepicker" // Add the controller to the form
    } } do |f| %>
  <%# <%= f.input :date_range, as: :string, input_html: { data: { action: "datepicker#connect" } }
  <div class="text-end">
   <%# <%= f.submit 'Submit', class: "btn btn-outline-warning my-4 "
  </div>
<%#<% end %>
