<h1>Edit Product Details</h1>
<%= simple_form_for(@product) do |f| %>
  <%= f.input :title %>
  <%= f.input :price %>
  <%= f.input :category, as: :select, collection: @category %>
  <%= f.input :description %>
  <%= f.button :submit, prompt: "Confirm Changes" %>
<% end %>
