<!--TODO * It seems the cards are position absolute. We need to fix the container to make the footer going to the bot-->
<!--The cards should be same sizes-->
<div class="container">
  <div class="product-cards row">
    <% if @products.empty? %>
      <p>You have no products</p>
    <% else %>
      <% @products.each do |product| %>
        <div class="col-6">
          <div class="card mb-3 mt-3 ml-6 ms-3 product-card">
            <%= image_tag 'default_product_img.jpg', style: "width: 100%; max-width: 500px;", alt: "default image for product" %>
            <div class="card-body">
              <div class="mb-3">
                <%= link_to "Show this product", product_path(product), class: "btn btn-outline-info", role: "button" %>
              </div>
              <div>
                <h2 class="card-title"><strong><%= product.title %></strong></h2>
                <h3>¥<%= product.price %></h3>
                <p><em><%= product.description %></em></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!--<div>#= link_to "Delete",product_path(product),data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" }</div>-->
