<!--The cards should be same sizes-->
<div class="container">
  <div class="product-cards row">
    <% if @products.empty? %>
      <p>No products matched your search</p>
    <% else %>
      <% @products.each do |product| %>
        <div class="col-4">
          <div class="card m-3 ms-3 product-card">
            <% if product.photos.attached? %>
              <%= cl_image_tag product.photos.first.key, crop: :fill %>
            <% else %>
              <%= image_tag 'default_product_img.jpg', alt: "default image for list"%>
            <% end %>
            <div class="card-body">
              <div class="m-3">
                <%= link_to "Show this product", product_path(product), class: "btn btn-outline-info", role: "button" %>
              </div>
              <div>
                <h2 class="card-title"><strong><%= product.title %></strong></h2>
                <p class="text-center"><em>By <%=%></em></p>
                <h3 class="text-end"><strong>¥<%= product.price %> / Day. </strong></h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!--<div>#= link_to "Delete",product_path(product),data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" }</div>-->
