<h1>Add New Product</h1>
<%= simple_form_for(@product) do |f| %>
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :price %>
    <%= f.input :description, as: :text %>
    <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
<%= link_to "Go back", products_path %>
