<div>
  <div class="container row product-container">
    <div class="backbtn ">
      <%= link_to "/products", class: "text-decoration-none" do %>
        <i class="fa-solid fa-backward"></i>
        <span class="ms-2">Back to Products</span>
      <% end %>
    </div>
    <!--Article cat-->
    <div class="row">
      <div class="product-ctn col-md-7 mt-2">
        <div class="product-img mt-4 py-6">
          <%= render 'img_display' %>
        </div>
        <div class="product-description mt-4 py-3">
          <p><strong><%= @product.title %></strong></p>
          <p>¥<%= @product.price %>/ Day.</p>
          <p><%= @product.description %></p>
        </div>
        <!--REVIEW-->
        <div data-controller="reviews">
          <div class="review-form py-3">
            <button data-action="click->reviews#toggle" class="btn btn-outline-warning my-4 ">Add Review</button>
            <div class="d-none" data-reviews-target="form">
              <%= render 'review/form', review: @review %>
            </div>
          </div>
        </div>
        <div class="reviews py-3">
          <% @product.reviews.each do |review| %>
            <%= render 'review/review', review: review %>
          <% end %>
        </div>
      </div>
      <div class="col-md-1 mt-1">
      </div>
      <div class="col-md-4 mt-2">
        <%= render partial: 'requests/form', locals: {product: @product, renting_request: @renting_request} %>
        <div class="ownercard">
          <%= image_tag 'default_product_img.jpg', alt: "default image for product", class: "product-thumbnail-img" %>
          <ul class="list-group">
            <li class="list-group-item">⭐️ verified user</li>
            <li class="list-group-item"><%=%></li>
            <li class="list-group-item"><%=%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--reviews display-->
</div>
