<div class="container row product-container">
  <!--Article cat-->
  <div class="row">
    <div class="product-ctn col-md-6 mt-2">
      <div class="product-img border-bottom py-3">
        <%= render 'img_display' %>
      </div>
      <div class="product-description py-3">
        <p><strong><%= @product.title %></strong></p>
        <p>¥<%= @product.price %>/ Day.</p>
        <p><%= @product.description %></p>
      </div>
    </div>
    <div class="col-md-2 mt-2">
    </div>
    <!-- <div class="col-md-4 mt-2">
      <div class="ownercard">
        <svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
          <text x="50%" y="50%" fill="#dee2e6" dy=".3em">user image</text>
        </svg>
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">⭐️ verified user</li>
          <li class="list-group-item"><%= @user.email %></li>
        </ul>
      </div>
    </div> -->
    <%= render partial: 'requests/form', locals: {product: @product, renting_request: @renting_request} %>
    <!--REVIEW-->
    <div data-controller="reviews">
      <div class="review-form border-bottom py-3">
        <button data-action="click->reviews#toggle" class="btn btn-outline-warning my-4 ">Add Review</button>
        <div class="d-none" data-reviews-target="form">
          <%= render 'review/form', review: @review %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="reviews py-3">
    <% @product.reviews.each do |review| %>
      <%= render 'review/review', review: review %>
    <% end %>
  </div>
</div>
